/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 5rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background: transparent;
  margin: auto;
}

.title {
  color: var(--text-color);
}

.subtitle {
  color: var(--text-color-alt);
  font-weight: 400;
  margin-bottom: var(--xlg);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: var(--radius);
  background: var(--theme);
  padding: var(--md) var(--xlg);
  font-size: var(--p);
  font-weight: 600;
  color: white;

  &:hover {
    color: white;
  }
}

.popup {
  position: absolute;
  left: 100%;
  margin-left: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(31, 41, 55);
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(0, -50%);
  }
  15% {
    opacity: 1;
    transform: translate(0, -50%);
  }
  85% {
    opacity: 1;
    transform: translate(0, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(10px, -50%);
  }
}