@font-face {
    font-family: "Inter";
    src: url('/static/fonts/Inter/Inter-Bold.ttf') format("truetype");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Inter";
    src: url('/static/fonts/Inter/Inter-SemiBold.ttf') format("truetype");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Inter";
    src: url('/static/fonts/Inter/Inter-Regular.ttf') format("truetype");
    font-weight: 400;
  }
  
  
  @font-face {
    font-family: "Inter";
    src: url('/static/fonts/Inter/Inter-Regular.ttf') format("truetype");
    font-weight: 300;
  }
  
  
  /**
   * Any CSS included here will be global. The classic template
   * bundles Infima by default. Infima is a CSS framework designed to
   * work well for content-centric websites.
  
  
  /* You can override the default Infima variables here. */
  :root {
    --ifm-color-primary: #784ffe;
    --ifm-text-color-primary: #002237;
    --ifm-text-color-alt: #4b5871;
    --ifm-color-primary-dark: #784ffe;
    --ifm-color-primary-darker: #784ffe;
    --ifm-color-primary-darkest: #784ffe;
    --ifm-color-primary-light: #784ffe;
    --ifm-color-primary-lighter: #784ffe;
    --ifm-color-primary-lightest: #784ffe;
    --ifm-card-background: #f7f7f8;
    --ifm-border-color: #d7dce5;
    --ifm-accent-color: #784ffe;
    --ifm-default-background: #fff;
    --ifm-text-alt-color: #4b5871;


    /** Zapper Theme **/
    --radius: 16px;
    --sm: 8px;
    --md: 12px;
    --lg: 16px;
    --xlg: 24px;

    --h1: 48px;
    --h2: 36px;
    --h3: 24px;
    --h4: 20px;
    --h5: 18px;

    --p: 16px;
    --p2: 14px;

    --theme: #784ffe; 
    --text-color: #002237;
    --text-color-alt: #4b5871;
  }
  
  /* For readability concerns, you should choose a lighter palette in dark mode. */
  [data-theme='dark'] {
    --ifm-color-primary: #a387ff;
    --ifm-text-color-primary: white;
    --ifm-text-color-alt: #9cabbb;
    --ifm-color-primary-dark: #a387ff;
    --ifm-color-primary-darker: #a387ff;
    --ifm-color-primary-darkest: #a387ff;
    --ifm-color-primary-light: #a387ff;
    --ifm-color-primary-lighter: #a387ff;
    --ifm-color-primary-lightest: #a387ff;
    --ifm-card-background: #181c1f;
    --ifm-border-color: #32383d;
    --ifm-accent-color: #a387ff;
    --ifm-default-background: #0c1013;
    --ifm-text-alt-color: #c7d2da;




    /** Zapper Theme for Dark Mode**/
    --text-color: white;
    --text-color-alt: #c7d2da;
  }
  
  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
  }
  
  [data-theme='dark'] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  body, h1, h2, h3, h4, h5, p {
    font-family: "Inter", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

  h1 {
    font-size: var(--h1);
    font-weight: 600;
  }

  h2 {
    font-size: var(--h2);
    font-weight: 500;
    color: var(--text-color);
  }

  h3 {
    font-size: var(--h3);
    font-weight: 500;
  }

  h4 {
    font-size: var(--h4);
    font-weight: 500;
  }

  h5 {
    font-size: var(--h5);
    font-weight: 500;
  }

  p {
    font-size: var(--p);
  }

  .navbar {
    &__logo {
      margin-right: var(--md);
    }
    &__brand {
      font-size: var(--h4);
      font-weight: 600;
    }
  }
  
  .hide {
    display: none;
  }

  .container {
    padding: 0 32px;
    max-width: 1600px;
  }

  .text-alt-color {
    color: var(--ifm-text-alt-color);
  }

  .text-accent-color {
    color: var(--ifm-accent-color);
  }

  .main-wrapper, .navbar {
    background-color: var(--ifm-default-background);
  }


  .card {
    background-color: var(--ifm-card-background);
  }

  .navbar {
    box-shadow: none;
    border-color: var(--ifm-border-color);
  }

  .border {
      border-color: var(--ifm-border-color);
  }

  .accent {
    border-color: var(--ifm-accent-color);
  }

  .docs-wrapper {
    .navbar {
      border-bottom-style: solid;
      border-width: 1px;
    }
  }

  .button {
    &--primary {
      background-color: #784ffe;
      color: white;

      &:hover {
        background-color: #a387ff;
        color: white;
      }
    }

    &--secondary {
      background-color: var(--ifm-card-background);
      color: var(--text-color)
    }
  }

